/*
 * @文件描述: 邀请函生成样式
 * @作者: Anton
 * @Date: 2020-06-02 11:42:53
 * @LastEditors: Anton
 * @LastEditTime: 2020-06-18 17:42:42
 */
// 697 418
// @import '@/styles/common.scss';
@function func-pxToVW($px) {
    @return $px / 375 * 100 + vw;
}

@function func-pxToVH($px) {
    // 特例，设计稿中，分享的图片高度为697px(iPhone 375px设计图)，这里把697px当作100vh来换算
    @return $px / 418 * 100 + vw; // 697
}

$bottomHeight: func-pxToVW(50);

.release-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.font-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page {
    margin: 0 auto;
}

.page-html {
    @extend .page;
    position: relative;
}

.page-image {
    @extend .page;
    position: absolute;
    z-index: -999;
}

.html-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.operation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .name {
        // width: func-pxToVH(80);
        border: none;
        background-color: transparent;
        color: #f4f4f4;
        font-size: func-pxToVH(20);
        font-family: '微软雅黑';
        text-align: center;
    }
    .name-input {
        @extend .name;
        margin-top: func-pxToVH(240);
        letter-spacing: 5px;
        z-index: 9;
    }
    .name-text {
        @extend .name;
        margin-top: func-pxToVH(240);
        letter-spacing: 5px;
        white-space: nowrap;
    }
    .btn-group {
        display: flex;
        margin-top: func-pxToVH(200);
        .btn {
            width: 120px;
            height: 44px;
            border-radius: 8px;
            background-color: rgba(253, 217, 3, 1);

            color: rgba(0, 0, 0, 0.85);
            font-size: 17px;
            text-align: center;
            font-family: PingFangSC-Regular;
            cursor: pointer;
            z-index: 9;
        }
        .down-btn {
            @extend .btn;
        }
        .share-btn {
            @extend .btn;
            margin-left: 20px;
        }
    }
}

.loadingContent {
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 998;
}

.loadingContent .content {
    width: 100px;
    height: 100px;
    padding: 20px;
    background: #353535;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    opacity: 0.95;
}

.loadingContent .content > img {
    width: 60px;
}
.bottom {
    height: $bottomHeight;
    line-height: $bottomHeight;
    color: rgba(0, 0, 0, 0.85);
    font-size: func-pxToVW(16);
    text-align: center;
    font-family: PingFangSC-Regular;
}
